.renaud-suggester-container{
    position: relative; 
    width: fit-content;

    .renaud-suggester{
        .renaud-suggester-panel-container{
            position: absolute;
            display: inline-block;
            width: max-content;
           

            .renaud-suggester-panel{
                margin: 0;
                padding: 0;
                list-style: none;

                //
                box-shadow: 0em 0em 0.3em 0.1em gray;
                background-color: snow;
                border-radius: 5px;
                padding: 4px 6px;


            }
        }


        .renaud-suggester-input-container{
            position: relative;
            border: solid black 1px;
            border-radius: 2px;

            &.focused{
                outline: solid red 1px;
            }

            .renaud-suggester-input{
                outline: none;
                border: none;
            }

            .renaud-suggester-input-layer{
                position: absolute;
                left: 1;
                top: 0;
                background-color: lightblue;
                width: calc(100% - 2px);
                padding-left: 2px;
            }
        }

        .renaud-suggestion-option{}

       
    }
}